@import "../../utils/style.vars.scss";

%text_template {
  display: flex;
  flex-direction: column;
  font-family: "Jost";
  font-style: normal;
  text-align: center;
  height: 100vh;
  font-weight: $fWeight_Default;
  font-size: $FSize_Default;
  line-height: $LHeight_Default;
  max-width: $WEIGHT_LIMIT;

  border: 1px solid black;
}

.app {
  @extend %text_template;
  color: $TextColor_Dark;
  background-color: $BgColor_Light;
}

.app-dark {
  @extend %text_template;
  color: $TextColor_Light;
  background-color: $BgColor_Dark;

  header,
  footer {
    filter: invert(100%);
  }
}
