@import "../../utils/style.vars.scss";

%template {
  display: flex;
  flex-direction: column;
  font-family: "Jost";
  font-style: normal;
  text-align: center;
  height: 100vh;
  font-weight: $fWeight_Default;
  font-size: $FSize_Default;
  line-height: $LHeight_Default;
  max-width: $WIDTH_LIMIT;

  overflow-x: hidden;
}

.app {
  @extend %template;
  color: $TextColor_Dark;
  background-color: $BgColor_Light;

  filter: invert(0%);
}

.app-dark {
  @extend %template;
  color: $TextColor_Light;
  background-color: $BgColor_Dark;

  [data-img],
  [data-add],
  header,
  main,
  footer {
    filter: invert(100%);
  }
}
