@import "../../utils/style.vars.scss";

%template {
  display: flex;
  flex-direction: column;
  font-family: "Jost";
  font-style: normal;
  text-align: center;
  height: 100vh;
  font-weight: $fWeight_Default;
  font-size: $FSize_Default;
  line-height: $LHeight_Default;
  max-width: $WIDTH_LIMIT;
  margin: 0 auto;
}

%wrap {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  filter: invert(0%);
}
.app_wrap {
  @extend %wrap;
  color: $TextColor_Dark;
  background-color: $BgColor_Light;
}
.app_wrap_dark {
  @extend %wrap;
  color: $TextColor_Light;
  background-color: $BgColor_Dark;
}

.app {
  @extend %template;
}

.app-dark {
  @extend %template;

  [data-img],
  [data-add],
  main,
  footer {
    filter: invert(100%);
  }

  header {
    a,
    [data-search-form] {
      filter: invert(100%);
    }
    [data-line] {
      border-right: 1px solid $TextColor_Light;
    }
  }

  [data-dark] {
    a {
      color: $TextColor_Light;
    }
    filter: invert(100%);
  }
}
