@import "utils/style.vars.scss";
$Last_element_width: 43.4%;

%flexbox {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.last {
    @extend %flexbox;
    width: $Last_element_width;
    white-space: nowrap;
}

.item {
    @extend %flexbox;
    @extend %line;
    width: 11.32%;
}
